@media (max-height: 917px) {
    html body {
        overflow-x: hidden;
    }

}

@media (max-width:1740px) {
    #section2 .s2-nav .s2-csv li h1 {
        font-size: 25px;
    }
}

@media (max-width:1700px) {

    /* header menu*/
    #header .header-gnb .inner ul {
        margin-top: 20px;
        width: 120px;
    }

    #header .header-gnb .inner .tag {
        font-size: 15px;
    }

    #header .header-gnb .inner ul a {
        font-size: 12px;
    }

    /* main mainBootom */
    #mainBottom .scroll-btn {
        display: none;
    }

    #mainBottom .page-btn {
        display: none;
    }

    #header #hidden-menu .hidden-gnb li:nth-child(1) {
        margin-left: 80px;
    }

    /* section2 */
    #section2 .s2-nav .s2-csv li svg {
        display: none;
    }

    /* section3 */
    #section3 .left-side {
        left: 80px;
    }

    #section3 .left-side h1 {
        font-size: 3em;
    }

    #section3 .left-side .p-2 {
        font-size: 2em;
    }

    #section3 .left-side .p-3,
    .p-4 {
        font-size: 14px;
    }

    #section3 .right-side li h3 {
        margin-top: 80px;
    }
}

@media (max-width:1620px) {
    #header #hidden-menu .hidden-gnb li:nth-child(1) {
        margin-left: 60px;
    }
    #section4 {
        gap: 0;
    }

}

@media (max-width:1570px) {
    #header #hidden-menu .hidden-gnb {
        gap: 10px;
    }

    #header #hidden-menu .hidden-gnb li:nth-child(1) {
        margin-left: 30px;
    }
}

@media (max-width:1550px) {

    /* header menu */
    #header .header-gnb .inner li {
        margin-left: 30px;
    }

    /* section2 */
    #section2 .s2-nav .s2-csv li h1 {
        font-size: 20px;
    }

    #section2 .s2-nav .s2-csv li p {
        font-size: 12px;
    }

    #section3 .left-side {
        display: none;
    }
}

@media (max-width:1430px) {
    #section3 .right-side {
        right: 0;

    }

    #section3 .right-side ul li {
        width: 100%;
    }
    #section4 .left-box {
        margin-left: 5%;
    }
}

@media (max-width:1340px) {

    /* header menu*/

    #header #hidden-menu .hidden-gnb {
        gap: 0px;
    }


    #header #hidden-menu .hidden-gnb li h1 {
        font-size: 24px;
    }

    #header #hidden-menu .hidden-gnb li a {
        font-size: 14px;
    }
    #section4 .left-box {
        display: none;
    }
    #section4 .right-box {
        margin: 150px auto;
    }
}

@media (max-width:1300px) {
    #header .header-gnb .inner-gnb a {
        margin-right: 15px;
    }

    #section2 .s2-nav .s2-csv li p {
        display: none;
    }

    #section2 .s2-nav .s2-csv li h1 {
        margin-top: 60px;
    }
}

@media (max-width:1270px) {
    #header .header-gnb {
        justify-content: space-between;
    }

    #header .header-gnb .inner {
        display: none;
    }

    #header .menu-box .language {
        width: 80px;
    }

    #section2 .s2-nav .s2-csv li h1 {
        font-size: 16px;
    }
}

@media (max-width:1080px) {
    #header #hidden-menu .hidden-gnb li {
        padding: 0 10px;
    }

    #header #hidden-menu .hidden-gnb li h1 {
        font-size: 20px;
    }

    #header .menu-box {
        margin-right: 20px;
    }

    #mainBottom .customer svg {
        margin: 50px 20px;
    }

    #mainBottom .customer svg text {
        font-size: 11px;
    }

    #mainBottom img {
        margin: 110px 40px;
    }

    #section2 .s2-menu {
        display: none;
    }

    #section2 .s2-nav {
        flex-wrap: wrap;
    }

    #section2 .s2-nav .s2-csv {
        width: 40%;
        height: 40vh;
        border-left: none;
        margin: 5px 10px;
    }

    #section2 .s2-nav .s2-csv li h1 {
        margin: 0;
    }

    #section2 .s2-nav .s2-csv:nth-child(1) {
        margin-top: 80px;
    }

    #section2 .s2-nav .s2-csv:nth-child(2) {
        margin-top: 80px;
    }

    #section2 .s2-nav .s2-csv li {
        width: 95%;
        height: 90%;
    }

    #section2 .s2-nav .s2-csv .s2-delay5 {
        display: none;
    }

    #section2 .s2-nav .s2-csv li div {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        border-radius: 30px;
    }

    /*  section3 */
    #section3 .s3-video {
        width: 100%;
        height: 100vh;
        background-image: url('img/s3_bg.jpg');
    }

    #section3 .s3-video iframe {
        display: none;
    }

    #section3 .right-side {
        justify-content: center;

    }

    #section3 .right-side .left-gnb {
        width: 30%;
        
        margin-right: 50px;
    }

    #section3 .right-side .right-gnb {
        width: 30%;
    }

    #section3 .right-side ul p {
        margin-top: 10px;
        color: skyblue;
        font-size: 13px;
    }
    
    #section3 .right-side .left-gnb li:nth-child(1) {
        margin-top: 35px;
    }
    #section3 .right-side li h3 {
        font-size: 20px;
        margin-top: 0;
    }
    
    #footer .footer-wrapper .footer-left {
        left: 20px;
    }

    #footer .footer-gnb .footer-pro {
        width: 80%;
        margin-left: 20px;
    }

    #footer .footer-finish {
        margin-left: 20px;
    }
}

@media (max-width:980px) {
    #section5 .s5-header .right-h {
        margin-right: 40px;
    }

    #footer .footer-wrapper .footer-right {
        right: 20px;
    }

    #footer .footer-gnb .footer-app {
        display: none;
    }

    #footer .footer-gnb .footer-pro {
        width: 870px;
        height: 70px;
        flex-wrap: wrap;
        margin-left: 20px;
    }
}

@media (max-width:800px) {
    #section3 .right-side {
        position: relative;
        left: -13%;
    }
}

@media (max-width:768px) {
    #main {
        background-image: url('img/bg_M.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #L-main {
        display: none;
    }

    #header .header-gnb {
        margin: 0;
        width: 100%;
        max-width: 700px;
        top: 20px;
    }

    #header .header-gnb .logo {
        background-image: url('img/img_logo.png');
        background-position: center;
        width: 70px;
        height: 53px;
        position: absolute;
        left: 48%;
    }

    #header .menu-box .language {
        display: none;
    }

    #header .menu-box .menu-line span {
        margin-top: 30px;
        width: 40px;
        position: absolute;
        left: 0;
        margin-left: 20px;
    }

    #header .menu-box .menu-line .line-down {
        background-color: gray;
    }

    #header #hidden-menu {
        top: 110px;
    }

    #header #hidden-menu .hidden-gnb li {
        margin-top: 30px;
    }

    #header #hidden-menu .hidden-gnb {
        background: rgba(200, 200, 200, 0.3);
        height: 220px;
    }

    #header #hidden-menu .hidden-gnb li:nth-child(1) {
        margin-left: 0;
    }

    #header #hidden-menu .hidden-gnb li h1 {
        font-size: 14px;
        margin-bottom: 20px;
    }

    #header #hidden-menu .hidden-gnb li a {
        font-size: 10px;
    }

    #section2 {
        display: flex;
        align-items: center;
    }
    #section2 .s2-nav {
        align-items: center;
    height: auto;
    }
    #section2 .s2-nav .s2-csv li {
        transition: none;
        bottom: -55px;
    }

    #section3 .right-side ul p {
        display: none;
    }

    #section3 .right-side {
        left: -3%;
        width: 640px;
        height: 540px;
        margin: 0 auto;
    }

    #section3 .right-side li h3 {
        font-size: 14px;
    }
    #section4 .right-box  {
        width: 100%;
        gap: 30px;
        margin-left: 13.5%;
    }
    #section4 .right-box li {
        width: 250px;
        height: 250px;
        margin: 0;
        border-radius: 20px;
    }

    #section5 .s5-header {
        left:20px;
    }
    #section5 .s5-wrapper {
        gap: 60px;
    }
    
    #section5 .s5-wrapper li:nth-child(1) {
        margin-left: 20px;
    }

    #footer .footer-gnb .footer-pro {
        display: block;
    }

    #footer .footer-gnb .footer-pro li:nth-child(2) {
        display: none;
    }

    #footer .footer-gnb .footer-pro li:nth-child(4) {
        display: none;
    }

}

@media (max-width:600px) {
    #header .header-gnb {
        width: 100%;
        max-width: 600px;
    }
    #section2 .s2-nav .s2-csv {
        width: 180px;
        height: 180px;
        margin: 10px;
    }
    #section2 .s2-nav .s2-csv li {
        bottom: 0;
    }


    #section3 .right-side {
        left: -10%;
    }

    #section5 .s5-header .left-h p:nth-child(2) {
        font-size: 4em;
    }

    #section5 .s5-header .left-h p:nth-child(3) {
        font-size: 14px;
    }

}

@media (max-width:500px) {
    #header .header-gnb {
        width: 100%;
        max-width: 500px;
    }
    #header .header-gnb .logo {
        left: 40%;
    }
    #header #hidden-menu {
        height: 250px;
    }

    
    #section3 {
    display: none;
    }  
}
@media (max-width:412px) {
    #header .header-gnb {
        width: 100%;
        max-width: 412px;
    }
    #header .header-gnb .logo {
        left: 50%;
    }
    #mainBottom .customer {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #section5 .s5-header .left-h p:nth-child(2) {
        font-size: 3em;
    }
    #section5 .s5-header .left-h p:nth-child(3) {
        font-size: 12px;
    }
    #section5 .s5-header .right-h {
        right: 60px;
    }
}

/* 컴퓨터 높이
max-height:907px */