@media (max-height: 917px) {
    html body {
        overflow-y: scroll;
        overflow-x: hidden;
    }

}

@media (max-width:1700px) {

    /* header menu*/
    #header .header-gnb .inner ul {
        margin-top: 20px;
        width: 120px;
    }

    #header .header-gnb .inner .tag {
        font-size: 15px;
    }

    #header .header-gnb .inner ul a {
        font-size: 12px;
    }

    /* main mainBootom */
    #mainBottom .scroll-btn {
        display: none;
    }

    #mainBottom .page-btn {
        display: none;
    }

    #header #hidden-menu .hidden-gnb li:nth-child(1) {
        margin-left: 80px;
    }

    /* section2 */
    #section2 .s2-nav .s2-csv li svg {
        display: none;
    }

    /* section3 */
    #section3 .left-side {
        left: 80px;
    }

    #section3 .left-side h1 {
        font-size: 3em;
    }

    #section3 .left-side .p-2 {
        font-size: 2em;
    }

    #section3 .left-side .p-3,
    .p-4 {
        font-size: 14px;
    }
}

@media (max-width:1620px) {
    #header #hidden-menu .hidden-gnb li:nth-child(1) {
        margin-left: 60px;
    }

    #section4 {
        display: none;
    }
}

@media (max-width:1570px) {
    #header #hidden-menu .hidden-gnb {
        gap: 10px;
    }

    #header #hidden-menu .hidden-gnb li:nth-child(1) {
        margin-left: 30px;
    }

    @media (max-width:1550px) {

        /* header menu */
        #header .header-gnb .inner li {
            margin-left: 30px;
        }

        /* section2 */
        #section2 .s2-nav .s2-csv li h1 {
            font-size: 20px;
        }

        #section3 .left-side {
            display: none;
        }
    }
}

@media (max-width:1361px) {

    /* header menu*/
    #header .header-gnb .inner {
        display: none;
    }

    #header #hidden-menu .hidden-gnb {
        gap: 0px;
    }

    #header #hidden-menu .hidden-gnb li:nth-child(1) {
        margin-left: 10px;
    }

    #header #hidden-menu .hidden-gnb li h1 {
        font-size: 24px;
    }

    #header #hidden-menu .hidden-gnb li a {
        font-size: 14px;
    }
}

@media (max-width:1080px) {
    #header #hidden-menu .hidden-gnb li {
        padding: 0 10px;
    }
    
    #header #hidden-menu .hidden-gnb li h1 {
        font-size: 20px;
    }
    
    #section2 .s2-menu {
        display: none;
    }

    #section2 .s2-nav {
        flex-wrap: wrap;
    }
    
    #section2 .s2-nav .s2-csv {
        width: 40%;
        height: 40%;
        border-left: none;
        top: 0;
        left: 0;
        margin: 0 auto;
    }
    
    #section2 .s2-nav .s2-csv:nth-child(1) {
        margin-top: 80px;
    }
    
    #section2 .s2-nav .s2-csv:nth-child(2) {
        margin-top: 80px;
    }
    
    #section2 .s2-nav .s2-csv li {
        width: 100%;
        height: 100%;
    }
    
    #section2 .s2-nav .s2-csv li h1 {
        font-size: 20px;
    }
    
    #section2 .s2-nav .s2-csv li p {
        display: none;
    }
    
    #section2 .s2-nav .s2-csv li svg {
        display: none;
    }
    
    #section2 .s2-nav .s2-csv li img {
        margin-top: 0;
    }
    
    #section3 .right-side {
        right: 0;
        width: 88%;
    }
    
    
    #section3 .right-side ul li {
        width: 80%;
    }

    #section3 .right-side ul p {
        display: none;
    }
    #section3 .right-side li h3 {
        font-size: 20px;
    }
    #footer .footer-wrapper .footer-left {
        left: 20px;
    }
    #footer .footer-gnb .footer-pro {
        width: 80%;
        margin-left: 20px;
    }
    #footer .footer-finish {
        margin-left: 20px;
    }
}
@media (max-width:980px) {
    #footer .footer-wrapper .footer-right {
        right: 20px;
    }
    #footer .footer-gnb .footer-app {
        display: none;
    }
    #footer .footer-gnb .footer-pro {
        width: 870px;
        height: 70px;
        flex-wrap: wrap;
        margin-left: 20px;
    }
}

/* 컴퓨터 높이
max-height:907px */